.register {
    margin-top: 150px;
    input {
        display: flex;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    input:last-child {
        margin-bottom: 35px;
    }
    .help {
        gap: 5px;
        align-items: center;
    }
}