footer {
    
    margin-top: 100px;

    .footer {


        .menu {
            ul {
                display: flex;
                justify-content: center;
                gap: 50px;
            }
        }

        .menu:last-child {
            margin-top: 15px;
        }
    }
}