@import "../../assets/variables.scss";

.feedback {
  margin-top: 200px;
  .feedbackContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 544px;
      height: 420px;
    }
  }
  .inputBox {
    input {
      display: flex;
      margin-top: 10px;
    }

    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.notAuth {
  margin-top: 200px;
  h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .notAuthData {
    h3 {
      a {
        font-size: 20px;
        transition: 0.2s;
      }

      a:hover {
        color: $orange;
      }
    }
  }
}
