@import "../../assets/variables.scss";

.admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  .title {
    text-align: center;
  }
  .tabs {
    margin-top: 100px;
    display: flex;
    .tab {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    .tab:not(:last-child)::after {
      content: "";
      width: 2px;
      height: 20px;
      background-color: $gray;
      margin: 0px 20px 0px 2px;
    }
    button {
      border: none;
      outline: none;
      cursor: pointer;
      background: $white;
      transition: 0.2;
      font-weight: bold;
    }
    button:hover {
      color: $purple;
      border-bottom: 1px solid $purple;
    }
  }
  .tabContent {
    margin-top: 50px;
    .feedbackSections {
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin-top: 50px;
      .titlee {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        h3 {
          font-weight: bold;
          font-size: 16px;
        }
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
    .systemInfoContent {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      gap: 70px;
      .card {
        .cardtitle {
          font-size: 18px;
          font-weight: bold;
        }
        margin-top: 50px;
        .cardinfo {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          transition: 0.2s;
          padding: 10px 20px;
          border-radius: 10px;
          background-color: $white;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  .notAuth {
    margin-top: 200px;
    h3 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
    }

    .notAuthData {
      h3 {
        a {
          font-size: 20px;
          transition: 0.2s;
        }

        a:hover {
          color: $orange;
        }
      }
    }
  }

  .notAdmin {
    margin-top: 200px;
    h3 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}
